In [1]:
print('hello')

hello

In [9]:
import pandas
from pandas import DataFrame, Series
import numpy as np 
import matplotlib.pyplot as pyplot

df = DataFrame([[1,20,5,62,7],[10,20,30,40,50]]
,columns=['c1', 'c2', 'c3', 'c4', 'c5']
,index=['index1','index2'])

df

        c1  c2  c3  c4  c5
index1   1  20   5  62   7
index2  10  20  30  40  50

In [16]:
df.iloc[1:2,1:1+2]

        c2  c3
index2  20  30

In [17]:
df*10

         c1   c2   c3   c4   c5
index1   10  200   50  620   70
index2  100  200  300  400  500

In [18]:
df.T

    index1  index2
c1       1      10
c2      20      20
c3       5      30
c4      62      40
c5       7      50

In [21]:
s1=Series([100,200,300,400,500])

In [22]:
import os
os.

0    100
1    200
2    300
3    400
4    500
dtype: int64